@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*Styling Navigation Bar (START) ------------------------------------------------------------*/
/*Default Settings For Browers*/
* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    box-sizing: border-box;
}

.active {
    color:#617246;
    font-weight: bold;
}

/*Styling Navigation Bar - Display*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 95px;
    position: sticky;
    top: 0px;
}

/*Styling Navigation Bar - Logo*/
#terraria-logo {
    cursor: pointer;
    margin-right: auto; 
}

header span {
    color: #743A01;
    font-family: 'Sofia', cursive;
    font-size: 30px;
}

header span:hover {
    color: black;
}

/*Styling Navigation Bar - Options*/
header li, a {
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

header li, a:hover {
    color: #617246;
}

.navigation-bar li {
    display: inline-block;
    padding: 0px 25px;
}

/*Styling Navigation Bar - Icons*/
.fa {
    color: #617246;
}

.fa:hover {
    color: black;
}

#search-icon, #cart-icon {
    cursor: pointer;
    margin-left: 35px;
}
/*Styling Navigation Bar (END) ------------------------------------------------------------*/
/*Styling About Us Section (START) ------------------------------------------------------------*/
/*Styling About Us Section - Heading Display & Text*/
.about-us-section-header {
    text-align: center;
    padding: 65px 0px 10px 0px;
}

.about-us-section-header span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #617246;
    font-weight: bold;
}

.about-us-section-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    color: #403c54;
    padding-bottom: 15px;
}

.about-us-section-header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

/*Styling About Us Section - Display*/
.about-us-section-1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 25px 70px 80px;
}

.about-us-1 {
    padding: 35px 200px 10px 10px;
}

.about-us-section-1 img {
    width: 620px;
}

/*Styling About Us Section - Display*/
.about-us-section-2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px 40px 60px;
}

.about-us-2 {
    padding: 35px 50px 10px 120px;
}

.about-us-section-2 img {
    width: 580px;
}

/*Styling About Us Section - Display*/
.about-us-section-3 {
    display: flex;
    justify-content: space-between;
    padding: 50px 25px 70px 80px;
}

.about-us-3 {
    padding: 35px 200px 10px 10px;
}

.about-us-section-3 img {
    margin-top: -50px;
    width: 620px;
    margin-bottom: -40px;
}

/*Styling About Us Section - Text*/
#about-us-topic {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff6484;
    font-size: 14px;
}

#about-us-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #617246;
    line-height: 60px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#about-us-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/*Styling About Us Section (END) ------------------------------------------------------------*/

/*Styling Choose Us Section (START) ------------------------------------------------------------*/
/*Styling Choose Us Section - Display*/
.choose-us {
    margin-top: 80px;
    float: left;
    width: 490px;
    text-align: center;
    margin-bottom: 105px;
    padding: 0px 120px;
}

/*Styling Choose Us Section - Description*/
.choose-us h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.choose-us p {
    color:#617246;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/*Styling Choose Us Section (END) ------------------------------------------------------------*/

.bc {
    background-color: #617246;
}