@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*Styling Navigation Bar (START) ------------------------------------------------------------*/
/*Default Settings For Browers*/
* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    box-sizing: border-box;
}

.active {
    color:#617246;
    font-weight: bold;
}

/*Styling Navigation Bar - Display*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 95px;
    position: sticky;
    top: 0px;
}

/*Styling Navigation Bar - Logo*/
#terraria-logo {
    cursor: pointer;
    margin-right: auto; 
}

header span {
    color: #743A01;
    font-family: 'Sofia', cursive;
    font-size: 30px;
}

header span:hover {
    color: black;
}

/*Styling Navigation Bar - Options*/
header li, a {
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

header li, a:hover {
    color: #617246;
}

.navigation-bar li {
    display: inline-block;
    padding: 0px 25px;
}

.navigation-bar button {
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #617246;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 16px 28px;
    cursor: pointer;
}

.navigation-bar button:hover {
    background-color: black;
    box-shadow: 0.15px 5.5px 10.5px 0.15px rgba(0, 0, 0, 0.35);
    transform: translateY(-2.5px);
}
/*Styling Navigation Bar (END) ------------------------------------------------------------*//*Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*Styling Navigation Bar (START) ------------------------------------------------------------*/
/*Changing Default Settings For Browers*/
* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    box-sizing: border-box;
}

.active {
    color:#617246;
    font-weight: bold;
}

.fa {
    color:#617246;
}

/*Styling Navigation Bar - Display*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 95px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/*Styling Navigation Bar - Logo*/
#terraria-logo {
    cursor: pointer;
    margin-right: auto; 
}

header span {
    color: #743A01;
    font-family: 'Sofia', cursive;
    font-size: 30px;
}

header span:hover {
    color: black;
}

/*Styling Navigation Bar - Options*/
header li, a {
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

header li, a:hover {
    color: #617246;
}

.navigation-bar li {
    display: inline-block;
    padding: 0px 25px;
}

.navigation-bar button {
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #617246;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 16px 28px;
    cursor: pointer;
    transition: 200ms ease;
}

.navigation-bar button:hover {
    background-color: black;
    box-shadow: 0.15px 5.5px 10.5px 0.15px rgba(0, 0, 0, 0.35);
    transform: translateY(-2.5px);
}
/*Styling Navigation Bar (END) ------------------------------------------------------------*/

/*Styling Contacts (START) ------------------------------------------------------------*/
/*Styling Contacts - Display*/
.contact-us-section-header {
    text-align: center;
    padding: 3rem 0px;
}

/*Styling Contacts - Header*/
.contact-us-section-header span {
    color: #617246;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}

.contact-us-section-header h1 {
    color: #403c54;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.contact-us-section-header p {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}

/*Styling Contacts - Image*/
.contact-us-image img {
    margin-top: 3.125rem;
    align-items: center;
    width: 100%;
    height: 500px;
}
/*Styling Contacts (END) ------------------------------------------------------------*/

/*Styling Branches (START) ------------------------------------------------------------*/
/*Styling Branch - Display*/
.branch {
    float: left;
    width: 33.33%;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    padding-left: 9.25rem;
}

/*Styling Branch - Header*/
.branch h1 {
    color:  #403c54;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.35rem;
}

.branch p {
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
}

.branch span {
    line-height: 2.85rem;
    color: #617246;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
}

/*Styling Branches (END) ------------------------------------------------------------*/

/*Styling Contact US (START) ------------------------------------------------------------*/
/*Styling Contact Us - Display*/
.form-section { 
    display: flex;
    justify-content: space-between;
    float: left;
    margin-top: 2.5rem;
    margin-bottom: 5.25rem;
    padding-right: 4rem;
}

.form {
    padding: 3.125rem 8.25rem 3.125rem 8.75rem;
}

/*Styling Contact Us - Image*/
.form-section img {
    margin-top: 8rem;
    width: 50%;
    height: 550px;
}

/*Styling Contact Us - Inputs*/
input[type=text], input[type=sentence], input[type=password], input[type=tel] {
    margin: 1rem 0 1.25rem 0;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.8rem;    
    box-shadow: 1px 2.5px 5px 1px rgba(0, 0, 0, 0.25);
}

input[type=sentence] {
    padding: 2.85rem;
}

.join-us {
    margin-top: 1rem;
    background-color:#617246;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.65rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.join-us:hover {
    background-color: black;
    transform: translateY(-2px);
}

.form h1 {
    font-family: 'Poppins', sans-serif;
    color:#403c54;
    font-size: 2.25rem;
}

.actual-form {
    padding-bottom: 2.25rem;
}

.form p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 0.65rem;
}

.form a {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65rem;
    color: #617246;
    font-weight: bold;
    cursor: pointer;
}
/*Styling Contact Us (END) ------------------------------------------------------------*/

/*Styling Subscription (START) ------------------------------------------------------------*/
/*Styling Subscription - Display*/
.subscribe-section-header {
    margin-left: 9.15rem;
    padding: 2.95rem 0rem;
}

/*Styling Subscription - Header*/
.subscribe-section-header h1 {
    color: #403c54;
    font-family: 'Poppins', sans-serif;
    font-size: 2.875rem;
    padding-bottom: 1rem;
}

.subscribe-section-header p {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 0.3125rem;
}

/*Styling Subscription - Display & Inputs*/
.subscription {
    display: flex;
    padding-left: 9.175rem;
    padding-bottom: 2.8125rem;
}

input[type=email] {
    width: 30%;
    padding: 1rem;
    border: none;
    border-radius: 0.625rem;    
    box-shadow: 1px 2.5px 5px 1px rgba(0, 0, 0, 0.25);
    margin-right: 0.625rem;
}

.subscribe {
    background-color: #617246;
    width: 10%;
    padding: 1.25rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.65rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.subscribe:hover {
    background-color: black;
    transform: translateY(-2px);
}
/*Styling Subscription (END) ------------------------------------------------------------*/