/*Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/*Styling Navigation Bar (START) ------------------------------------------------------------*/
/*Changing Default Settings For Browers*/
* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    box-sizing: border-box;
}

.active {
    color:#617246;
    font-weight: bold;
}

.fa {
    color:#617246;
}

/*Styling Navigation Bar - Display*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 95px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/*Styling Navigation Bar - Logo*/
#terraria-logo {
    cursor: pointer;
    margin-right: auto; 
}

header span {
    color: #743A01;
    font-family: 'Sofia', cursive;
    font-size: 30px;
}

header span:hover {
    color: black;
}

/*Styling Navigation Bar - Options*/
header li, a {
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

header li, a:hover {
    color: #617246;
}

.navigation-bar li {
    display: inline-block;
    padding: 0px 25px;
}

.navigation-bar button {
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: #617246;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 16px 28px;
    cursor: pointer;
    transition: 200ms ease;
}

.navigation-bar button:hover {
    background-color: black;
    box-shadow: 0.15px 5.5px 10.5px 0.15px rgba(0, 0, 0, 0.35);
    transform: translateY(-2.5px);
}
/*Styling Navigation Bar (END) ------------------------------------------------------------*/

/*Styling Hero Section (START) ------------------------------------------------------------*/
/*Styling Hero - Display*/
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 80px 130px;
}

.hero {
    padding: 50px 0px 0px 0px;
    width: 580px;
}

/*Styling Hero - Tag Line & Description*/
.hero-section h1 {
    color: #617246;
    font-size: 3.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.hero-section p {
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}

/*Styling Hero - Image*/
.hero-section img {
    width: 55%;
    height: 420px;
}

/*Styling Hero - Button*/
.hero-section button {
    display: inline-block;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 45px;
    text-align: center;
    text-decoration: none;
    background-color: #617246;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 18px 28px;
    transition: 300ms ease;
}

.hero-section button:hover {
    background-color: black;
    transform: translateY(-5px);
}
/*Styling Hero Section (END) ------------------------------------------------------------*/

/*Styling Statistics Section (START) ------------------------------------------------------------*/
/*Styling Statistics Section - Display*/
.statistics {
    float: left;
    width: 33.33%;
    text-align: center;
    margin-bottom: 8%;
}

/*Styling Statistics Section - Description*/
.statistics h1 {
    color: #617246;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.statistics p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
/*Styling Statistics Section (END) ------------------------------------------------------------*/

/*Styling Testimonial Section (START) ------------------------------------------------------------*/
/*Styling Testimonial Section - Heading Display & Text*/
.about-us-section-header {
    text-align: center;
}

.about-us-section-header span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #617246;
    font-weight: bold;
}

.about-us-section-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    color: #403c54;
    padding-bottom: 15px;
}

.about-us-section-header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 0px 250px;
}

/*Styling Testimonial Section - Cards*/
.testimonial-section-header {
    text-align: center;
    padding: 60px 0px;
}

.testimonial-section-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    color: #403c54;
}

.testimonial-section-header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/*Styling Testimonial Section - Ratings*/
#star {
    color:#ffe234;
}

/*Styling Testimonial Section - Customer Reviews*/
.testimonials-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.testimonials {
    padding: 25px 45px 25px 65px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.35);
    margin: 10px 35px;
    transition: 300ms ease;
}

.testimonials:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.5);
}

/*Styling Testimonial Section - Customer Details*/
.customer-name {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
    color: #617246;
}

.customer-username {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.testimonials p {
    font-size: 16px;
    margin-bottom: 12px;
    max-width: 380px;
}

.date {
    font-size: 12px;
    opacity: 60%;
}

/*Styling Testimonial Section - Profile*/
.customer-avatar {
    height: 80px;
    width: 90px;
}

.customer-avatar img {
    height: 100%;
    width: 100%
}
/*Styling Testimonial Section (END) ------------------------------------------------------------*/

/*Styling Partnership (START) ------------------------------------------------------------*/
/*Styling Partnership - Display*/
.partnership {
    margin-top: 100px;
    text-align: center;
}

/*Styling Partnership - Heading*/
.partnership-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    color: #403c54;
}

.partnership-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/*Styling Partnership - Image*/
.partnership img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 60%;
    width: 60%;
    margin-bottom: 10%;
}
/*Styling Partnership (END) ------------------------------------------------------------*/

/*Styling Footer (START) ------------------------------------------------------------*/
/*Styling Footer - Navigation Options*/
footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
}

.footer ul {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    list-style: none;
    background-color: #e3e3e3;
}

.footer ul li a {
    background-color: #e3e3e3;
    padding: 0 2rem;
    margin: 1rem 0;
}

.footer {
    background-color: #e3e3e3;
}

/*Styling Footer - Icons & Names*/
.social-media-icons {
    text-align: center;
    background-color: #e3e3e3;
    margin: 2rem 0 1rem 0;
}

.social-media-icons a {
    margin: 0rem 1rem;
    background-color: #e3e3e3;
}

#socials {
    background-color: #e3e3e3;
    margin-top: 2.5rem;
}

.brand-name {
    text-align: center;
    background-color: #e3e3e3;
    font-family: 'Sofia', cursive;
    font-size: 1.5rem;
}

#brand-logo {
    background-color: #e3e3e3;
    color:#617246;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
/*Styling Footer (END) ------------------------------------------------------------*/